/******************************** Ad Header Top *********************************/
#ad-header-top {
  text-align: center;
  width: 100%;
}

// #ad-header-top .AdHeaderTop {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: 0 auto;
// }

.AdHeaderTop-desktop {
  display: none;
}

.AdHeaderTop-mobile {
  display: block;
}

@media (min-width: 768px) {
  .AdHeaderTop-desktop {
    display: block;
  }

  .AdHeaderTop-mobile {
    display: none;
  }
}

/******************************** Ad Header Bottom *********************************/
#ad-header-bottom {
  text-align: center;
  width: 100%;
}

// #ad-header-bottom .AdHeaderBottom {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: 0 auto;
// }

.AdHeaderBottom-desktop {
  display: none;
}

.AdHeaderBottom-mobile {
  display: block;
}

@media (min-width: 768px) {
  .AdHeaderBottom-desktop {
    display: block;
  }

  .AdHeaderBottom-mobile {
    display: none;
  }
}

/******************************** Ad Discussion List *********************************/
.ad-discussion-list {
  text-align: center;
  width: 100%;
  list-style: none;
}

.AdDiscussionList-desktop {
  display: none;
}

.AdDiscussionList-mobile {
  display: block;
}

@media (min-width: 768px) {
  .AdDiscussionList-desktop {
    display: block;
  }

  .AdDiscussionList-mobile {
    display: none;
  }
}

/******************************** Ad Left Side Nav *********************************/
.AdLeftSideNav {
  text-align: center;
  width: 100%;
}

.AdLeftSideNav-desktop {
  display: none;
}

.AdLeftSideNav-mobile {
  display: block;
}

@media (min-width: 768px) {
  .AdLeftSideNav-desktop {
    display: block;
  }

  .AdLeftSideNav-mobile {
    display: none;
  }
}

/******************************** Ad Right Side Nav *********************************/
.AdRightSideNav {
  text-align: center;
}

.AdRightSideNav-desktop {
  display: none;
}

.AdRightSideNav-mobile {
  display: block;
}

@media (min-width: 768px) {
  .AdRightSideNav-desktop {
    display: block;
  }

  .AdRightSideNav-mobile {
    display: none;
  }
}

/******************************** Ad First Discussion End *********************************/
.AdFirstDiscussionEnd {
  text-align: center;
  width: 100%;
}

.AdFirstDiscussionEnd-desktop {
  display: none;
}

.AdFirstDiscussionEnd-mobile {
  display: block;
}

@media (min-width: 768px) {
  .AdFirstDiscussionEnd-desktop {
    display: block;
  }

  .AdFirstDiscussionEnd-mobile {
    display: none;
  }
}

/******************************** Ad Tags Page *********************************/
.AdTagsPage {
  text-align: center;
  width: 100%;
}

.AdTagsPage-desktop {
  display: none;
}

.AdTagsPage-mobile {
  display: block;
}

@media (min-width: 768px) {
  .AdTagsPage-desktop {
    display: block;
  }

  .AdTagsPage-mobile {
    display: none;
  }
}