/******************************** AdsManager separator *********************************/
.ads-manager-separator {
  width: 100% !important;
  margin: 20px 0;
  padding: 0;
}

.ads-manager-separator hr {
  border: none;
  border-top: 2px solid #e0e0e0;
  margin-bottom: 15px;
}

.ads-manager-separator h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}


/******************************** AdsManager Form-body *********************************/
.dashzeveg-ads-manager-Page .ExtensionPage-settings .Form-body {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

.dashzeveg-ads-manager-Page .ExtensionPage-settings .Form-body > * {
  width: 100% !important;
}

.dashzeveg-ads-manager-Page .ExtensionPage-settings .Form-body > *:has(textarea) {
  width: 46% !important;
  margin-right: 1%;
}

.dashzeveg-ads-manager-Page .ExtensionPage-settings .Form-body > *:last-child {
  width: 100% !important;
}